services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: transactiondb
      POSTGRES_USER: transaction_service
      POSTGRES_PASSWORD: pass123
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U transaction_service -d transactiondb"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
